@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500;600&display=swap');

*{
    margin: 0 auto;
    font-family: 'Baloo Tamma 2', cursive;
}

header {
    background-color: aliceblue;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;


}

.left {
    width: 25%;

}

.center1{
    width: 25%;


}

.center2 {
    width: 25%;

;

}
.right {
    width: 25%;

}

#logo {
    width: 20%;
    /*I want to do a transition of it turning blue than white when you first enter the page... to be worked on later*/
}

header h1 {
    display: flex;
    justify-content: center;
}

form {
    margin: 1em auto;
    text-align: center;
}

#poster {
    text-align: center;
    font-size: 1.3em
}

#photo img {
    border: solid 15px black;
    border-radius: 2%;
    width: 85%;
}

#words>* {
    padding: 5px 3px;
    font-size: 1.2em
}

.character {
    display: flex;
    justify-content: center;
    margin: 25px;
    flex-direction: column;
}
.character img {
    width: 200px;
    align-self: center;

}

.left{
    display: flex;
    flex-direction: row;
}

#previous-button {
    align-self: center;
    background: white;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
}

#next-button {
    align-self: center;
    background: white;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
}

.abc {
    display: none;
}

.abc:first-of-type {
    display: block
}

/*MEDIA QUERY*/

@media (max-width: 1050px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .character img {
        width: 150px;
    }

    #description {
        font-size: medium;
        text-align: center;
    }

    .left {
        width: 100%;
    }

    .center1 {
        width: 60%;
    }
    .center2 {
        width: 80%;
    }
}

@media (max-width: 1230px) {
    .character img {
        width: 150px;
    }
}
