@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500;600&display=swap');

*{
    margin: 0 auto;
    font-family: 'Baloo Tamma 2', cursive;
}

header {
    background-color: aliceblue;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* height: 1000px; */

}

.left {
    width: 25%;
    /* background-color: aquamarine; */
}

.center1{
    width: 25%;
    /* background-color: #f9f9f9; */
    /* border: solid 4px blue; */
}

.center2 {
    width: 25%;
    /* background-color: blueviolet; */
    /* background-color: #f9f9f9; */
;

}
.right {
    width: 25%;
    /* background-color: black; */
}

#logo {
    width: 20%;
    /*I want to do a transition of it turning blue than white when you first enter the page... to be worked on later*/
}

header h1 {
    display: flex;
    justify-content: center;
}

form {
    margin: 1em auto;
    text-align: center;
}

#poster {
    text-align: center;
    font-size: 1.3em
}

#photo img {
    border: solid 15px black;
    border-radius: 2%;
}

#words>* {
    padding: 5px 3px;
    font-size: 1.2em
}

.character {
    display: flex;
    justify-content: center;
    margin: 25px;
    flex-direction: column;
}
.character img {
    width: 200px;
    align-self: center;
    /* border: solid 10px #9E9690;
    border-radius: 5%; */
}

.left{
    display: flex;
    flex-direction: row;
}

#previous-button {
    align-self: center;
    background: white;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
}

#next-button {
    align-self: center;
    background: white;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
}

.abc {
    display: none;
}

.abc:first-of-type {
    display: block
}